@model Participant

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Participant Information</h2>
            <hr />
        </div>
        <input asp-for="ParticipantId" type="hidden" />
        <div class="mb-3 row">
            <label>Participant e-mail</label>
            <input asp-for="ParticipantMail" type="email" class="form-control" />
        </div>
        <div class="mb-3 row">
            <label>Participant first name</label>
            <input asp-for="ParticipantName" type="text" class="form-control" />
        </div>
        <div class="mb-3 row">
            <label>Participant first name</label>
            <input asp-for="ParticipantLastName" type="text" class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <input type="submit" id="submit" value="Update Participant" class="btn btn-dark form-control" />
            </div>
        </div>
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
    </div>
</form>